DOMAIN=your_domain.de
DATABASE_URL=mysql://root:root@localhost:3306/your_database_name
SMTP_HOST=<asteroid>.uberspace.de
SMTP_PORT=587
SMTP_USER=your_email@your_domain.de
SMTP_PASSWORD=your_password
FACEBOOK_APP_ID=your_facebook_app_id
FACEBOOK_APP_SECRET=your_facebook_app_secret
INSTAGRAM_APP_ID=your_instagram_app_id
INSTAGRAM_APP_SECRET=your_instagram_app_secret
IP_HASH_SALT=your_ip_hash_salt