@import "tailwindcss";
@plugin "@tailwindcss/typography";

body:has(#mktcms-admin) {
  @apply bg-gray-100;
}

#mktcms-admin {
  .boxed {
    @apply p-4 max-w-3xl mx-auto md:my-6 bg-white md:rounded-lg shadow-lg flex flex-col;
  }

  .fullscreen {
    @apply max-w-none rounded-none max-h-screen h-screen overflow-hidden bg-white p-3 md:p-6 flex flex-col;
  }

  h1 {
    @apply text-gray-800 text-3xl font-semibold;
  }

  select,
  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea {
    @apply w-full bg-white p-2.5 text-base border border-gray-300 rounded;
  }

  .button {
    @apply inline-flex items-center gap-2 px-4 py-2.5 bg-emerald-600 text-white rounded hover:bg-emerald-700 cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed;

    &.secondary {
      @apply bg-gray-50 text-gray-700 border border-gray-300 hover:bg-gray-100;
    }

    &.directory {
      @apply bg-gray-700 text-white border border-gray-600 hover:bg-gray-600;
    }

    &.danger {
      @apply bg-red-600 hover:bg-red-700;
    }

    &.small {
      @apply px-2.5 py-1.5 text-sm;
    }

    :disabled {
      @apply cursor-not-allowed opacity-50;
    }
  }
}