@import "tailwindcss";

body {
  @apply m-0 font-sans;
}
#mktcms-admin {
  --mktcms-primary-color: mediumseagreen;
  --mktcms-primary-color-hover: #45a049;

  @apply p-5 bg-gray-50 max-w-200 mx-auto;

  h1 {
    @apply text-gray-800;
  }

  button,
  .button {
    @apply no-underline text-center bg-(--mktcms-primary-color) text-white border-0 py-2.5 px-5 cursor-pointer text-base rounded transition-colors duration-300 hover:bg-(--mktcms-primary-color-hover) disabled:opacity-30;

    &.soft {
      @apply bg-gray-200 text-gray-600 hover:bg-gray-300;
    }
  }

  .button-icon {
    @apply w-5 h-5 align-middle;
  }

  select,
  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea {
    @apply w-full bg-white p-2.5 text-base border border-gray-300 rounded;
  }

  .breadcrumbs {
    @apply my-5 text-gray-500 text-base;

    a {
      @apply text-gray-500 bg-gray-200 no-underline rounded px-1.5 py-0.5 hover:underline;
    }
  }

  .files,
  .dirs {
    @apply flex flex-col gap-2;
  }

  .files a,
  .dirs a {
    @apply block py-2 px-3 rounded no-underline hover:underline;
  }

  .files a {
    @apply text-gray-600 bg-white;
  }

  .dirs a {
    @apply text-white bg-gray-600 flex justify-between;
  }
}